# Xcode
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
DerivedData/
*.hmap

# Swift Package Manager
/.build/
/Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Other
.DS_Store
.idea/
.vscode/
